#result {
  display: none;
  border: 3px solid #565858;
  padding: 20px 20px 20px 20px;
  background-color: #E7EFEF;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  background-color: #BCC0BC;
}

h1 {
  font-family: Times, Helvetica;
  color: #CC4040;
}

h2 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

.result {
  color: #CC4040;
}
