body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  opacity: 1.4;
  border: 3px solid #766C66;
  border-radius: 10px;
  font-family: Times, Helvetica;
  background-color: #BCC0BC;
}

h1 {
  font-family: Times, Helvetica;
  color: #FFFFEF;
  text-align: center;
}

h2 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

h3 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

h4 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

h5 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

h6 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

.btn {
  font-family: Verdana, Helvetica;
  color: #FFFFEF;d
  text-align: center;
  border: 2px solid #4FBAA0;
  border-radius: 50%;
  padding: 17px;
  margin: 10px;
}

.btn:hover {
  background-color: #4FBAA0;
  color: #E8FD8D;
  border: 2px solid #E8FD8D;
  border-radius: 50%;
  padding: 17px;
  margin: 10px;
  cursor: grabbing;
}

.form-control {
  text-align: center;
}

.left {
  float: left;
}

.result {
  color: #CC4040;
}

.right {
  float: right;
}

#a {
  background-color: #FDDA8D;
}

#b {
  background-color: #FDDA8D;
}

#c {
  background-color: #FDDA8D;
}

#result {
  display: none;
  border: 3px solid #565858;
  padding: 20px 20px 20px 20px;
  background-color: #E7EFEF;
}

#triangle {
  border: 3px solid #766C66;
  border-radius: 10px;
  padding: 10px 15px 15px 20px;
  margin: 10px;
  background-color: #FFFFEF;
  align-items: center;
  text-align: center;
}
